body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: flex-start; 
    align-items: center;
    padding-top: 50px;
    background-color: grey; 
}

.grid {
    display: flex; 
    flex-direction: column; 
    background-color: lightgreen; 
    gap: 10px; 
    width: 90vw;
    max-width: 400px; 
    margin: 20px auto;  
    justify-content: center;
    padding: 10px; 
    
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex: 1; 
}

.tile {
    display: flex;
    flex-grow: 1; 
    aspect-ratio: 1 / 1;
    border: 3px solid green; 
    color: black; 
    align-items: center;
    justify-content: center;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}

#reset-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: gold;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#next-round-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: gold;
    color: black;
    font-weight: bold;
    cursor: pointer;
} 

h1 {
    color: red; 
    font-weight: bold; 
}

.player-keyboard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    max-width: 500px;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 4px; 
    margin-bottom: 4px; 
    width: 100%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 45px; 
    background-color: #d3d6da;
    color: black; 
    font-weight: bold; 
    font-size: 0.9em; 
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.key-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #d3d6da;
    color: black; 
    font-weight: bold; 
    font-size: 0.9em; 
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    flex-basis: 0;
    flex-grow: 1.6; 
}

#game-message {
    color: red; 
    font-size: 10px;
    background-color: yellow;
}

.correct-placement {
    background-color: #538d4e;
    border-color: black; 
    color: white; 
}

.incorrect-placement {
    background-color: #b59f3b;
    border-color: black;
    color: white; 
}

.incorrect-letter {
    background-color: grey;
    border-color: black; 
    color: white; 
}