body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: flex-start; 
    align-items: center;
    padding-top: 10px;
    background-color: black; 
    font-family: 'Courier New', Courier, monospace; 
}

h1, h2, h3 {
    color: #ff0000; 
    text-align: center;
    width: 100%; 
    margin: 0 0 10px 0; 
    line-height: 1.0;
}

h1 {
    font-size: 28px; 
    font-weight: bold;  
    text-decoration: underline wavy green;
    text-underline-offset: 3px;
}

h2 { 
    font-size: 22px; 

}

h3 {
    font-size: 18px; 
}

.grid {
    display: flex; 
    flex-direction: column; 
    background-color: lightgreen; 
    gap: 10px; 
    width: 90vw;
    max-width: 360px; 
    margin: 5px auto 7px auto;  
    justify-content: center;
    padding: 2px; 
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.tile {
    display: flex;
    flex-grow: 1; 
    aspect-ratio: 1 / 1;
    border: 5px solid #2e7d32;
    color: black; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.player-keyboard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    max-width: 650px;
    margin-top: 5px; 
    gap: 2px; 
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 4px; 
    margin-bottom: 4px; 
    width: 100%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    height: 50px; 
    background-color: #d3d6da;
    color: black; 
    font-weight: bold; 
    font-size: 1em; 
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.key, .key-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #d3d6da;
    color: black; 
    font-weight: bold; 
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    flex-grow: 1.6; 
}

.key {
    font-size: 1em;
}

.key-btn {
    font-size: 0.6em;
    flex-grow: 1.6;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    width: 100%; 
    margin-top: 30px; 
}

#reset-button, #next-round-button {
    padding: 15px 30px; 
    font-size: 0.8rem; 
    font-weight: 800;
    letter-spacing: 1px;
    border: none; 
    border-radius: 5px; 
    font-weight: bold; 
    cursor: pointer; 
    min-width: 180px; 
    text-transform: uppercase; 
    min-width: 120px; 
    box-sizing: border-box; 
    background-color: gold;
    color: black; 
}

#game-message {
    color: #ff0000; 
    font-size: 1.3rem; 
    font-weight: bold; 
    text-align: center;
    text-transform: uppercase; 
    margin: 15px 0; 
    min-height: 1.6em; 
    display: none; 
    position: relative; 
    top: 6px; 
}

#game-message.visible {
    display: block; 
}

.correct-placement {
    background-color: #3e6a3a; 
    border-color: black; 
    color: white; 
}

.incorrect-placement {
    background-color: #b59f3b;
    border-color: black;
    color: white; 
}

.incorrect-letter {
    background-color: grey;
    border-color: black; 
    color: white; 
}