body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: flex-start; 
    align-items: center;
    padding-top: 50px;
    background-color: grey; 
}

.grid {
    display: flex; 
    flex-direction: column; 
    background-color: lightgreen; 
    gap: 10px; 
    width: 90vw;
    max-width: 400px; 
    margin: 20px auto;  

    justify-content: center;
    padding: 10px; 
    
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex: 1; 
}

.tile {
    display: flex;
    flex-grow: 1; 
    aspect-ratio: 1 / 1;
    border: 3px solid green; 
    color: black; 
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex; 
    align-items: flex-end;
}

#reset-button {
    display: flex;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 5px solid red; 
    background-color: gold; 
    border-style: dashed; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#next-level-button {
    display: flex;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 5px solid red; 
    border-style: dashed; 
    background-color: gold;
    align-items: center; 
    justify-content: center;
    text-align: center;
} 

h1 {
    color: red; 
    font-weight: bold; 
}

.player-keyboard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 0; 


}

.key {
    display: flex;
    flex: row;
    font-size: 30px;
    color: white; 
    border: 1px solid white;
}

#game-message {
    color: red; 
    font-size: 10px;
    background-color: yellow;
}

.correct-placement {
    background-color: #538d4e;
    border-color: black; 
    color: white; 
}

.incorrect-placement {
    background-color: #b59f3b;
    border-color: black;
    color: white; 
}

.incorrect-letter {
    background-color: grey;
    border-color: black; 
    color: white; 
}