body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: space-between;  
    align-items: center;
}

.board {
    background-color: lightgreen; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    padding: 10px; 
}

.row {
    display: flex;
    gap: 10px; 
}

.tile {
    display: flex;
    width: 50px; 
    height: 50px; 
    border: 3px solid green; 
    color: black; 
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex; 
    align-items: flex-end;
}

#reset-button {
    display: flex;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 5px solid red; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#next-level-button {
    display: flex;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 5px solid red; 
    align-items: center; 
    justify-content: center;
    text-align: center;
} 

h1 {
    color: red; 
    font-weight: bold; 
}