body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: flex-start; 
    align-items: center;
    padding-top: 0px;
    background-color: black; 
    font-family: 'Courier New', Courier, monospace; 
}

.grid {
    display: flex; 
    flex-direction: column; 
    background-color: lightgreen; 
    gap: 10px; 
    width: 90vw;
    max-width: 400px; 
    margin: 5px auto 7px auto;  
    justify-content: center;
    padding: 10px; 
    
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex: 1; 
}

.tile {
    display: flex;
    flex-grow: 1; 
    aspect-ratio: 1 / 1;
    border: 3px solid green; 
    color: black; 
    align-items: center;
    justify-content: center;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; 
}

#reset-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: gold;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0; 
}

#next-round-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: gold;
    color: black;
    font-weight: bold;
    cursor: pointer;
} 

h1 {
    color: #FF0000; 
    font-weight: bold; 
    margin-bottom: 0px; 
    line-height: 1.2;
}

h2 { 
    color: #FF0000; 
    line-height: 1.2; 
}

h3 {
    margin-top: 5px; 
    color: #FF0000; 
    line-height: 1.2;
    margin-top: -5px;
}

.player-keyboard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    max-width: 500px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 4px; 
    margin-bottom: 4px; 
    width: 100%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 45px; 
    background-color: #d3d6da;
    color: black; 
    font-weight: bold; 
    font-size: 0.9em; 
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.key-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #d3d6da;
    color: black; 
    font-weight: bold; 
    font-size: 0.9em; 
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    flex-basis: 0;
    flex-grow: 1.6; 
}

#game-message {
    color: #FF0000; 
    font-size: 1rem; 
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    top: 50px; 
    left: 50%; 
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

#game-message.visible {
    opacity: 1; 
}

.correct-placement {
    background-color: #3e6a3a; 
    border-color: black; 
    color: white; 
}

.incorrect-placement {
    background-color: #b59f3b;
    border-color: black;
    color: white; 
}

.incorrect-letter {
    background-color: grey;
    border-color: black; 
    color: white; 
}